@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Futura Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Medium.woff);
  src: url(../css/fonts/FuturaPT-Medium.eot);
  src: url(../css/fonts/FuturaPT-Medium.ttf);
}

@font-face {
  font-family: "Futura Bold";
  src: url(../css/fonts/FuturaPT-Bold.woff);
  src: url(../css/fonts/FuturaPT-Bold.eot);
  src: url(../css/fonts/FuturaPT-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Futura PT Book";
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Book.woff);
  src: url(../css/fonts/FuturaPT-Book.eot);
  src: url(../css/fonts/FuturaPT-Book.ttf);
}

@font-face {
  font-family: "Futura PT Demi";
  font-weight: 600;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Demi.woff);
  src: url(../css/fonts/FuturaPT-Demi.eot);
  src: url(../css/fonts/FuturaPT-Demi.ttf);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.title {
  font-family: "Futura Bold";
  font-size: 130px;
  color: white;
  margin: 25px 0 0 60px;
}

.arrow {
  position: absolute;
  bottom: 64px;
  height: 72px;
  right: 44px;
  padding-left: 50px;
}

.navbar {
  position: absolute;
  top: 20px;
  right: 50px;
}

.navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar__item {
  z-index: 100;
}

.navbar__item a {
  font-family: "Futura Medium";
  font-weight: 500;
  font-size: 25px;
  color: #2b2b2b;
  padding: 10px;
  min-width: 150px;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.navbar__item:hover a {
  color: #ff924f;
  background-color: rgba(211, 211, 211, 0.171);
  border-radius: 10px;
}

@-webkit-keyframes letter {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes letter {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-screen {
  position: relative;
  margin-left: 30px;
}

.main-screen__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0;
  margin-left: 40px;
  margin-top: 65px;
  -webkit-animation: logo 1.5s ease-in-out 0.5s 1 forwards;
          animation: logo 1.5s ease-in-out 0.5s 1 forwards;
}

.main-screen__logo-1 {
  margin-right: 40px;
}

.main-screen__logo-2 {
  -webkit-animation: letter 1.5s ease-in-out 0.5s 1 forwards;
          animation: letter 1.5s ease-in-out 0.5s 1 forwards;
}

.main-screen__title {
  margin-left: 40px;
  color: #2b2b2b;
  font-size: 50px;
  opacity: 0;
  font-family: "Futura Bold";
  margin-top: 20px;
  -webkit-animation: logo 1.5s ease-in-out 0.7s 1 forwards;
          animation: logo 1.5s ease-in-out 0.7s 1 forwards;
}

.main-screen__heading {
  color: #838383;
  font-size: 48px;
  margin-top: 20px;
  margin-left: 40px;
  font-family: "Futura PT Book";
  -webkit-animation: heading 1.5s ease-in-out 0.9s 1 forwards;
          animation: heading 1.5s ease-in-out 0.9s 1 forwards;
  opacity: 0;
  padding-bottom: 250px;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-size: 69px;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-size: 69px;
  }
}

.about {
  position: relative;
  background: #f76666;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 100px;
}

.about__description {
  font-size: 32px;
  font-family: "Futura PT Demi";
  color: #2b2b2b;
  line-height: 46px;
  max-width: 600px;
  height: 100%;
  width: 100%;
  max-height: 550px;
  margin: 35px 20px 10px 120px;
  position: relative;
}

.about__description:before {
  content: url(../../media/img/icons/hello.png);
  position: absolute;
  left: -70px;
  top: 20px;
}

.about__pic img {
  max-width: 400px;
  height: auto;
  margin-top: 25px;
}

.skills {
  position: relative;
  background: #5ae496;
}

.skills__description {
  font-family: "Futura Bold";
  font-weight: 700;
  font-size: 74px;
  line-height: 96px;
  text-transform: uppercase;
  margin: 45px 0 0 120px;
  position: relative;
  padding-bottom: 50px;
}

.skills__description span {
  display: inline-block;
  width: 100%;
}

.skills__description::before {
  position: absolute;
  content: url(../../media/img/icons/skills.png);
  left: -70px;
  top: -3px;
}

.works {
  position: relative;
  background: #25c1e8;
}

.works__menu {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 0 60px;
  position: relative;
  padding-bottom: 150px;
}

.works__menu::before {
  position: absolute;
  content: url(../../media/img/icons/works.png);
  left: -60px;
  top: 25px;
}

.works__menu-item-wrap {
  margin: 5px;
  display: block;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  position: relative;
}

.works__menu-item-title {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  background: radial-gradient(circle, rgba(94, 94, 94, 0.7) 23%, rgba(94, 94, 94, 0.7) 59%);
  width: 100%;
  left: 0;
}

.works__menu-item {
  height: 200px;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  text-align: center;
  color: #2b2b2b;
  font-family: "Futura Medium";
  font-size: 22px;
}

.works__menu-item-title {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.works__menu-item-description {
  visibility: hidden;
  opacity: 0;
  margin: 0 auto;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.works__menu-item-description span {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.works__menu-item-wrap:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works__menu-item-wrap:hover .works__menu-item {
  background: radial-gradient(circle, rgba(34, 34, 34, 0.5) 23%, rgba(34, 34, 34, 0.5) 59%);
}

.works__menu-item-wrap:hover .works__menu-item-description {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: white;
}

.works__menu-item-wrap:hover .works__menu-item-title {
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.works__menu-item-wrap:first-child {
  background: url(../../media/img/works-bg/application.png);
  background-size: cover;
}

.works__menu-item-wrap:nth-child(2) {
  background: url(../../media/img/works-bg/marathon.png);
  background-size: cover;
}

.works__menu-item-wrap:nth-child(3) {
  background: url(../../media/img/works-bg/casino.png) 50% 50% no-repeat;
  background-size: cover;
}

.works__menu-item-wrap:nth-child(4) {
  background: url(../../media/img/works-bg/webdev.png) 50% 50% no-repeat;
  background-size: cover;
}

.works__menu-item-wrap:nth-child(5) {
  background: url(../../media/img/works-bg/clinic.png) 50% 50% no-repeat;
  background-size: cover;
}

.works__menu-item-wrap:nth-child(6) {
  background: url(../../media/img/works-bg/shelter.png) 50% 50% no-repeat;
  background-size: cover;
}

.contact {
  background: #c17cf2;
  position: relative;
  z-index: 100;
}

.contact__text {
  font-family: "Futura PT Book";
  font-size: 60px;
  line-height: 95px;
  margin: 40px 0 0 200px;
  color: #f7f54e;
  position: relative;
}

.contact__text span {
  display: inline-block;
  width: 100%;
}

.contact__text::before {
  position: absolute;
  content: url(../../media/img/icons/contact.png);
  left: -55px;
  top: 5px;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 280px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  z-index: 10;
  padding-bottom: 50px;
}

.contact__telegram:hover img {
  background-color: rgba(165, 59, 160, 0.993);
  border-radius: 50%;
}

.contact__instagram:hover img {
  background-color: rgba(165, 59, 160, 0.993);
  border-radius: 50%;
}

.contact__linkedin:hover img {
  background-color: rgba(165, 59, 160, 0.993);
  border-radius: 50%;
}

.contact__button {
  max-width: 430px;
  display: block;
  margin: 55px auto 80px auto;
  text-align: center;
  background-color: #f7f54e;
  max-height: 80px;
  border-radius: 100px;
  font-family: "Futura PT Book";
  color: #010491;
  font-size: 36px;
  padding: 17px 0;
  z-index: 10;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contact__button:hover {
  background-color: #f76666;
}

.menu {
  width: 50px;
  height: 50px;
  padding: 14px 3px 10px 9px;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 34px;
  border-radius: 50%;
  background: #ff924f;
  z-index: 1000;
}

.menu span {
  cursor: pointer;
  height: 2px;
  width: 33px;
  margin-bottom: 8px;
  background: #000;
  position: relative;
  right: 0;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.hidden {
  opacity: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  pointer-events: none;
  cursor: default;
}

.visible {
  opacity: 1;
}

.menu.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background: #fff;
}

.menu.open span:nth-child(2) {
  opacity: 0;
  right: 100px;
  background: #fff;
}

.menu.open span:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #fff;
}

#navigation {
  background: #010491;
  font-family: "Futura Bold";
  color: #fff;
  font-weight: 400;
  font-size: 144px;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  z-index: 500;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slideInLeft {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.slideOutLeft {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

ul.nav__list {
  list-style-type: none;
}

ul.nav__list li a {
  font-family: "Futura Bold";
  color: #fff;
  display: block;
  margin: 0px auto;
  text-align: center;
  text-decoration: none;
}

ul.nav__list li:hover a {
  color: #f7f54e;
}

@media screen and (max-width: 1024px) {
  .about__description {
    font-size: 28px;
    margin-left: 70px;
    margin-left: 30px;
  }
  .about__description::before {
    left: -50px;
  }
  .skills__description {
    font-size: 61px;
    margin-left: 90px;
    line-height: 75px;
  }
  .about__pic img {
    margin-top: 75px;
    max-width: 250px;
  }
  .title {
    font-size: 90px;
  }
  .works__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 786px) {
  .navbar {
    display: none;
  }
  .nav__list {
    font-size: 100px;
  }
  .main-screen__title {
    margin-left: 20px;
    margin-top: 35px;
  }
  .main-screen__heading {
    margin-left: 20px;
    padding-bottom: 50px;
  }
  .main-screen__logo {
    margin-left: 40px;
  }
  .main-screen__logo-1 {
    max-width: 200px;
    max-height: 200px;
  }
  .main-screen__logo-2 {
    max-width: 200px;
    max-height: 200px;
  }
  .title {
    margin-left: 20px;
    text-align: center;
  }
  .about__description {
    line-height: 34px;
  }
  .container {
    padding: 0 20px;
  }
  .skills__description {
    margin-left: 30px;
    font-size: 67px;
    line-height: 70px;
  }
  .skills__description::before {
    left: -45px;
  }
  .skills__description span {
    position: relative;
  }
  .skills__description span::before {
    content: "";
    background-color: #ff924f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: -35px;
  }
  .skills__description span:first-child::before {
    opacity: 0;
  }
  .works__menu {
    padding-bottom: 75px;
    margin-left: 0;
  }
  .works__menu::before {
    left: -45px;
    display: none;
  }
  .works__menu-item {
    background: radial-gradient(circle, rgba(34, 34, 34, 0.5) 23%, rgba(34, 34, 34, 0.5) 59%);
  }
  .works__menu-item-title {
    padding: 5px 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .works__menu-item-description {
    visibility: visible;
    opacity: 1;
    color: #fff;
  }
  .contact__social {
    padding-bottom: 20px;
  }
  .contact__text {
    margin-left: 40px;
    line-height: 70px;
  }
  .contact__button {
    margin-bottom: 50px;
  }
  .about__description {
    line-height: 34px;
    margin-top: 20px;
  }
  .about__description::before {
    display: none;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__pic img {
    margin-top: 0;
  }
}

@media screen and (max-width: 570px) {
  .title {
    font-size: 75px;
    margin-left: 0;
    text-align: center;
  }
  .menu {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 20px;
  }
  .menu span {
    margin-bottom: 4px;
    width: 23px;
  }
  .nav__list {
    font-size: 70px;
  }
  .nav__list li {
    margin: 20px auto;
  }
  .navbar {
    display: none;
  }
  .main-screen__heading {
    margin-left: 40px;
  }
  .main-screen__title {
    margin-left: 40px;
  }
  .main-screen__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 60px;
    margin-top: 20px;
  }
  .main-screen__logo-1 {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .about__description {
    margin-top: 10px;
    margin-left: 50px;
    max-width: 390px;
  }
  .skills__description {
    font-size: 38px;
    margin-left: 20px;
    line-height: 60px;
  }
  .skills__description::before {
    top: 4px;
    left: -35px;
  }
  .skills__description span::before {
    left: -22px !important;
    top: 20px;
  }
  .skills__description span::before:first-child {
    display: block;
  }
  .contact__text {
    margin-left: 0;
  }
  .contact__text::before {
    display: none;
  }
  .arrow {
    right: 20px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 10px;
  }
  .title {
    text-align: center;
    font-size: 50px;
  }
  .main-screen {
    margin-left: 0;
  }
  .main-screen__logo {
    margin-left: 30px;
  }
  .main-screen__title {
    margin-left: 10px;
  }
  .main-screen__heading {
    margin-left: 10px;
    padding-bottom: 35px;
  }
  .about__content {
    padding-bottom: 35px;
  }
  .about__description {
    line-height: 25px !important;
    margin-left: 8%;
  }
  .about__description b {
    font-weight: 700;
    font-size: 30px;
  }
  .skills__description {
    margin-top: 25px;
    font-size: 35px;
    line-height: 50px;
  }
  .skills__description::before {
    display: none;
  }
  .skills__description span:first-child::before {
    opacity: 1;
  }
  .skills__description span::before {
    top: 15px;
  }
  .works__menu {
    padding-bottom: 35px;
  }
  .contact__text {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 50px;
    line-height: 45px;
  }
  .contact__text::before {
    display: block;
    top: 10px;
    left: -50px;
  }
  .contact__button {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */