@charset "UTF-8";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Futura Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Medium.woff);
  src: url(../css/fonts/FuturaPT-Medium.eot);
  src: url(../css/fonts/FuturaPT-Medium.ttf);
}

@font-face {
  font-family: "Futura Bold";
  src: url(../css/fonts/FuturaPT-Bold.woff);
  src: url(../css/fonts/FuturaPT-Bold.eot);
  src: url(../css/fonts/FuturaPT-Bold.ttf);

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Futura PT Book";
  font-weight: normal;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Book.woff);
  src: url(../css/fonts/FuturaPT-Book.eot);
  src: url(../css/fonts/FuturaPT-Book.ttf);
}

@font-face {
  font-family: "Futura PT Demi";
  font-weight: 600;
  font-style: normal;
  src: url(../css/fonts/FuturaPT-Demi.woff);
  src: url(../css/fonts/FuturaPT-Demi.eot);
  src: url(../css/fonts/FuturaPT-Demi.ttf);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.title {
  font-family: "Futura Bold";
  font-size: 144px;
  color: white;
  margin: 25px 0 0 40px;
}

.arrow {
  position: absolute;
  bottom: 64px;
  height: 72px;
  right: 44px;
  padding-left: 50px;
}

.navbar {
  position: absolute;
  top: 20px;
  right: 50px;

  &__content {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    z-index: 100;

    a {
      font-family: "Futura Medium";
      font-weight: 500;
      font-size: 25px;
      color: #2b2b2b;
      padding: 10px;
      min-width: 150px;
      transition-duration: 200ms;
    }
  }

  &__item:hover a {
    color: #ff924f;
    background-color: rgba(211, 211, 211, 0.171);
    border-radius: 10px;
  }
}

@keyframes letter {
  0% {
  }

  100% {
    transform: rotate(360deg);
  }
}

.main-screen {
  position: relative;

  margin-left: 30px;

  &__logo {
    display: flex;
    flex-direction: row;
    opacity: 0;
    margin-left: 40px;
    margin-top: 65px;
    animation: logo 1.5s ease-in-out 0.5s 1 forwards;
  }

  &__logo-1 {
    margin-right: 40px;
  }

  &__logo-2 {
    animation: letter 1.5s ease-in-out 0.5s 1 forwards;
  }

  &__title {
    margin-left: 40px;
    color: #2b2b2b;
    font-size: 50px;
    opacity: 0;
    font-family: "Futura Bold";
    margin-top: 20px;
    animation: logo 1.5s ease-in-out 0.7s 1 forwards;
  }

  &__heading {
    color: #838383;
    font-size: 48px;
    margin-top: 20px;
    margin-left: 40px;
    font-family: "Futura PT Book";
    animation: heading 1.5s ease-in-out 0.9s 1 forwards;
    opacity: 0;
    padding-bottom: 250px;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes heading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    font-size: 69px;
  }
}

.about {
  position: relative;

  background: #f76666;

  &__content {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
  }

  &__description {
    font-size: 32px;
    font-family: "Futura PT Demi";
    color: #2b2b2b;
    line-height: 46px;
    max-width: 600px;
    height: 100%;
    width: 100%;
    max-height: 550px;
    margin: 35px 20px 10px 120px;
    position: relative;
  }

  &__description:before {
    content: url(../../media/img/icons/hello.png);
    position: absolute;
    left: -70px;
    top: 20px;
  }

  &__pic {
    img {
      max-width: 400px;
      height: auto;
      margin-top: 25px;
    }
  }
}

.skills {
  position: relative;

  background: #5ae496;

  &__description {
    font-family: "Futura Bold";
    font-weight: 700;
    font-size: 74px;
    line-height: 96px;
    text-transform: uppercase;
    margin: 45px 0 0 120px;
    position: relative;
    padding-bottom: 50px;

    span {
      display: inline-block;
      width: 100%;
    }
  }

  &__description::before {
    position: absolute;
    content: url(../../media/img/icons/skills.png);

    left: -70px;
    top: -3px;
  }
}

.works {
  position: relative;
  background: #25c1e8;

  &__menu {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0 0 60px;
    position: relative;
    padding-bottom: 300px;
  }

  &__menu::before {
    position: absolute;
    content: url(../../media/img/icons/works.png);

    left: -70px;
    top: 10px;
  }

  &__menu-item-wrap {
    margin: 5px;
    display: block;
    transition-duration: 200ms;
    position: relative;
  }

  &__menu-item-title {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    transition-duration: 200ms;
    background: radial-gradient(
      circle,
      rgba(94, 94, 94, 0.7) 23%,
      rgba(94, 94, 94, 0.7) 59%
    );
    width: 100%;
    left: 0;
  }
  &__menu-item {
    height: 200px;
    width: 250px;
    align-items: center;
    display: flex;

    text-transform: uppercase;
    text-align: center;
    color: #2b2b2b;
    font-family: "Futura Medium";
    font-size: 22px;
  }

  &__menu-item-title {
    transition-duration: 300ms;
  }

  &__menu-item-description {
    visibility: hidden;
    opacity: 0;
    margin: 0 auto;
    transition-duration: 200ms;
    span {
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__menu-item-wrap:hover {
    transform: scale(1.05);

    .works__menu-item {
      background: radial-gradient(
        circle,
        rgba(34, 34, 34, 0.5) 23%,
        rgba(34, 34, 34, 0.5) 59%
      );
    }

    .works__menu-item-description {
      visibility: visible;
      opacity: 1;
      transform: translateY(-5px);
      color: white;
    }

    .works__menu-item-title {
      visibility: hidden;
      opacity: 0;
      transition-duration: 500ms;
    }
  }

  &__menu-item-wrap:first-child {
    background: url(../../media/img/works-bg/application.png);
  }

  &__menu-item-wrap:nth-child(2) {
    background: url(../../media/img/works-bg/marathon.png);
  }
  &__menu-item-wrap:nth-child(3) {
    background: url(../../media/img/works-bg/casino.png) 50% 50% no-repeat;
    background-size: cover;
  }
  &__menu-item-wrap:nth-child(4) {
    background: url(../../media/img/works-bg/webdev.png) 50% 50% no-repeat;
    background-size: cover;
  }
  &__menu-item-wrap:nth-child(5) {
    background: url(../../media/img/works-bg/clinic.png) 50% 50% no-repeat;
    background-size: cover;
  }
  &__menu-item-wrap:nth-child(6) {
    background: url(../../media/img/works-bg/shelter.png) 50% 50% no-repeat;
    background-size: cover;
  }
}

.contact {
  background: #c17cf2;
  position: relative;
  z-index: 100;

  &__text {
    font-family: "Futura PT Book";
    font-size: 74px;
    line-height: 95px;
    margin: 40px 0 0 120px;
    color: #f7f54e;
    position: relative;
    span {
      display: inline-block;
      width: 100%;
    }
  }

  &__text::before {
    position: absolute;
    content: url(../../media/img/icons/contact.png);

    left: -55px;
    top: 5px;
  }

  &__social {
    display: flex;
    flex-direction: row;
    max-width: 280px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 10;
    padding-bottom: 50px;
  }

  &__telegram:hover img {
    background-color: rgba(165, 59, 160, 0.993);
    border-radius: 50%;
  }

  &__instagram:hover img {
    background-color: rgba(165, 59, 160, 0.993);
    border-radius: 50%;
  }

  &__linkedin:hover img {
    background-color: rgba(165, 59, 160, 0.993);
    border-radius: 50%;
  }

  &__button {
    max-width: 430px;
    display: block;
    margin: 55px auto 80px auto;
    text-align: center;
    background-color: #f7f54e;
    max-height: 80px;
    border-radius: 100px;
    font-family: "Futura PT Book";
    color: #010491;
    font-size: 36px;
    padding: 17px 0;
    z-index: 10;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  &__button:hover {
    background-color: #f76666;
  }
}

.menu {
  width: 50px;
  height: 50px;
  padding: 14px 3px 10px 9px;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 70px;
  right: 70px;
  border-radius: 50%;
  background: #ff924f;

  z-index: 1000;
}

.menu span {
  cursor: pointer;
  height: 2px;
  width: 33px;
  margin-bottom: 8px;
  background: #000;
  position: relative;
  right: 0;
  display: block;
  transform: rotate(0deg);
  transition: 0.7s ease;
}

.hidden {
  opacity: 0;
  transition-delay: 0.1s;
  pointer-events: none;
  cursor: default;
}

.visible {
  opacity: 1;
}

.menu.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
  transition: 0.7s ease;
  background: #fff;
}

.menu.open span:nth-child(2) {
  opacity: 0;
  right: 100px;
  background: #fff;
}

.menu.open span:nth-child(3) {
  top: -10px;
  transform: rotate(-135deg);
  transition: 0.5s ease;
  background: #fff;
}

#navigation {
  background: #010491;
  font-family: "Futura Bold";
  color: #fff;
  font-weight: 400;
  font-size: 144px;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  z-index: 500;
  position: fixed;
  left: 0;
  top: 0;
  transition-duration: 200ms;
}

.nav {
  display: flex;
  justify-content: center;
}

.slideInLeft {
  transition-duration: 0.3s;
}

.slideOutLeft {
  transition-duration: 0.4s;
}

ul.nav__list {
  list-style-type: none;
}

ul.nav__list li a {
  font-family: "Futura Bold";
  color: #fff;
  display: block;
  margin: 0px auto;

  text-align: center;
  text-decoration: none;
}

ul.nav__list li:hover a {
  color: #f7f54e;
}

@media screen and (max-width: 1024px) {
  .about__description {
    font-size: 28px;
    margin-left: 70px;
    margin-left: 30px;
    &::before {
      left: -50px;
    }
  }
  .skills__description {
    font-size: 61px;
    margin-left: 90px;
    line-height: 75px;
  }
  .about__pic img {
    margin-top: 75px;
    max-width: 250px;
  }
  .title {
    font-size: 90px;
  }
  .works__menu {
    justify-content: center;
  }
}
@media screen and (max-width: 786px) {
  .navbar {
    display: none;
  }
  .nav__list {
    font-size: 100px;
  }
  .main-screen {
    &__title {
      margin-left: 20px;
      margin-top: 35px;
    }
    &__heading {
      margin-left: 20px;
      padding-bottom: 50px;
    }
    &__logo {
      margin-left: 40px;
      &-1 {
        max-width: 200px;
        max-height: 200px;
      }
      &-2 {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
  .title {
    margin-left: 20px;
    text-align: center;
  }
  .about__description {
    line-height: 34px;
  }
  .container {
    padding: 0 20px;
  }
  .skills {
    &__description {
      margin-left: 30px;
      font-size: 67px;
      line-height: 70px;
      &::before {
        left: -45px;
      }
      span {
        position: relative;
        &::before {
          content: "";
          background-color: #ff924f;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          top: 25px;
          left: -35px;
        }
        &:first-child::before {
          opacity: 0;
        }
      }
    }
  }
  .works {
    &__menu {
      padding-bottom: 120px;
      margin-left: 0;
      &::before {
        left: -45px;
        display: none;
      }
    }
  }
  .contact {
    &__text {
      margin-left: 40px;
      line-height: 70px;
    }
    &__button {
      margin-bottom: 50px;
    }
  }
  .about {
    &__description {
      line-height: 34px;
      margin-top: 20px;
      &::before {
        display: none;
      }
    }
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__pic img {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 570px) {
  .title {
    font-size: 75px;
    margin-left: 0;
    text-align: center;
  }
  .nav__list {
    font-size: 70px;
    li {
      margin: 20px auto;
    }
  }
  .navbar {
    display: none;
  }
  .main-screen {
    &__heading {
      margin-left: 40px;
    }
    &__title {
      margin-left: 40px;
    }

    &__logo {
      flex-direction: column;
      justify-self: flex-start;
      align-items: flex-start;
      margin-left: 60px;
      margin-top: 20px;
      &-1 {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  .menu {
    right: 20px;
  }
  .about {
    &__description {
      margin-top: 10px;
      margin-left: 50px;
      max-width: 390px;
    }
  }
  .skills {
    &__description {
      font-size: 38px;
      margin-left: 20px;
      line-height: 60px;
      &::before {
        top: 4px;
        left: -35px;
      }
      span {
        &::before {
          left: -22px !important;
          top: 20px;
        }
        &::before:first-child {
          display: block;
        }
      }
    }
  }
  .contact {
    &__text {
      margin-left: 0;
      &::before {
        display: none;
      }
    }
  }
  .arrow {
    right: 20px;
  }
}
@media screen and (max-width: 470px) {
  .container {
    padding: 0 10px;
  }
  .title {
    text-align: center;
  }
  .skills {
    &__description {
      margin-top: 25px;
      &::before {
        display: none;
      }
      span {
        &:first-child::before {
          opacity: 1;
        }
      }
    }
  }
}
