@import url(normalize.css);

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    src: url(./fonts/GothamPro-Medium.ttf), url(./fonts/GothamPro-Medium.eot), url(./fonts/GothamPro-Medium.woff);
}

@font-face {
    font-family: 'Gotham Pro Light';
    font-weight: 400;
    src: url(./fonts/GothamPro-Light.ttf), url(./fonts/GothamPro-Light.eot), url(./fonts/GothamPro-Light.woff);
}

.container {
    padding: 100px;
    width: 100%;
    margin: 0 auto;
}

.main {


    &__content {
        display: flex;
        flex-direction: column;
    }

    &__loyalty {
        text-align: center;


    }

    &__info {
        width: 228px;
        margin: 0 auto;
        padding: 22px 0 22px 0;
        position: relative;


        &:after {
            position: absolute;
            content: "";
            width: 24px;
            height: 184px;
            border-top-left-radius: 5px;
            display: block;
            left: -27px;
            top: 104px;
            border-top: 1px solid gray;
            border-left: 1px solid gray;

        }
    }

    &__percent {
        display: block;
        padding-top: 16px;
        margin-left: -17px;
        font-size: 47px;
        font-family: 'Gotham Pro Light';
        position: relative;

        &-char {
            position: absolute;
            font-size: 16px;
            right: 78px;
            top: 39px;
            color: #b7b2b2;
        }

        &-dec {
            position: absolute;
            top: 58px;
            font-family: 'Gotham Pro Light';
            right: 78px;
            font-size: 23px;

            &:before {
                content: ".";
            }
        }
    }

    &__title {
        margin-top: 1px;
        font-family: 'Gotham Pro';
        font-size: 21px;
    }

    &__subtitle {
        font-family: 'Gotham Pro';
        font-size: 15px;
        color: #fcd329;
        margin-top: 7px;

    }

    &__icon {
        position: absolute;
        top: -30px;
        left: 95px;
    }

    &__text {
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 13px;
        color: #b7b2b2;
        margin-top: 3px;

        span {
            display: inline-block;
            width: 100%;
        }
    }

    &__rating {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color: #70a74b;
        margin-top: 8px;
        display: block;
        margin-left: 3px;

        &-triangle {
            width: 0;
            display: inline-block;
            height: 0;
            border-style: solid;
            margin-bottom: 3px;
            border-width: 0 7px 8px 7px;
            border-color: transparent transparent #70a74b transparent;
        }
    }
}

.circle-chart {
    width: 254px;
    height: 232px;
    position: absolute;
    left: -13px;
    top: -3px;
    transform: rotate(18deg);
    z-index: -1;

    &__circle-yellow {
        animation: circle-chart-fill 2s reverse;
        transform: rotate(-90deg);
        transform-origin: center;
    }

    &__circle-green {
        animation: circle-chart-fill 2s reverse;
        transform: rotate(-90deg);
        transform-origin: center;
    }

    &__circle-gray {
        animation: circle-chart-fill 0s reverse;
        transform: rotate(-90deg);
        transform-origin: center;
    }
}



@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}


.members {
    padding-top: 61px;
    width: 228px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 14px;
        height: 20px;
        top: 70px;
        left: -27px;
        display: block;

        border-top: 1px solid gray;
        border-left: 1px solid gray;

    }

    &__item {
        margin-bottom: 15px;

        &:first-of-type {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                width: 7px;
                height: 7px;
                top: 41px;
                left: -27px;
                display: block;

                border-top: 1px solid gray;
                border-left: 1px solid gray;

            }

            &:after {
                position: absolute;
                content: "";
                width: 7px;
                height: 7px;
                top: 35px;
                left: -33px;
                display: block;

                border-bottom: 1px solid gray;
                border-right: 1px solid gray;

            }
        }

        &:nth-of-type(2) {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                width: 9px;
                height: 12px;
                top: 2px;
                left: -27px;
                display: block;
                border-bottom-left-radius: 5px;
                border-bottom: 1px solid gray;
                border-left: 1px solid gray;

            }
        }
    }

    &__text {
        font-family: Arial, Helvetica, sans-serif;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        width: 85px;
        font-size: 13px;

        text-align: left;
        color: #555555;
    }

    &__info {
        display: flex;
        flex-direction: column;

    }

    &__people {
        margin-top: 7px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        img {
            margin-left: 5px;
        }
    }

    &__count {
        display: block;
        font-size: 12px;
        margin-top: 2px;
    }

    &__amount {
        color: #9d9d9c;
        display: block;
        font-size: 12px;

    }

    &__graph {
        color: #5d5d5d;
        height: 33px;
        display: flex;
        width: 90px;
        margin-top: -1px;
        background-color: #f9f9f9;



        &-item {
            height: 26px;
            display: inline-block;
            border-top-left-radius: 5px;
            position: relative;
            animation: graph-fill 2s;

            &:after {
                content: "";
                height: 7px;
                position: absolute;
                bottom: -7px;
                display: block;
                animation: graph-after-fill 2.5s;
                border-bottom-left-radius: 5px;
            }
        }
    }

    &__percent {
        background-color: #f9f9f9;
        border: 2px solid #ececec;
        border-left: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        padding: 8px 2px 10px 0;
        height: 33px;
        width: 100%;
        font-size: 12px;
        text-align: right;
    }


}

.members__item:first-of-type .members__graph-item {

    width: 48px;
    background-color: #70a74b;

    &:after {
        width: 29px;
        background-color: #70a74ba2;

    }

}

.members__item:nth-of-type(2) .members__graph-item {
    background-color: #fcd329;
    width: 52px;

    &:after {
        width: 28px;
        background-color: #fcd229ad;
    }
}

.members__item:last-of-type .members__graph-item {
    background-color: #ed5243;
    width: 40px;

    &:after {
        background-color: #ed5143ad;
        width: 31px;
    }
}

@keyframes graph-fill {
    0% {
        width: 0em;
    }

    100% {
        width: 1;
    }
}

@keyframes graph-after-fill {
    0% {
        width: 0em;
    }

    100% {
        width: 1;
    }
}