/*Обнуление стилей */
@import url(normalize.css);

/* Шрифты Clear Sans*/
@font-face {
    font-family: 'Clear Sans';
    font-weight: 400;
    src: url('fonts/clear sans/ClearSans-Light.eot'), url('fonts/clear sans/ClearSans-Light.ttf'), url('fonts/clear sans/ClearSans-Light.woff');
}

@font-face {
    font-family: 'Clear Sans';
    font-weight: 700;
    src: url('fonts/clear sans/ClearSans-Bold.eot'), url('fonts/clear sans/ClearSans-Bold.ttf'), url('fonts/clear sans/ClearSans-Bold.woff');
}


/* Основые стили */
a {
    display: block;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
}

$animate: all 0.2s ease-in-out;

/* NAVBAR */
.nav {
    padding-bottom: 26px;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding-top: 18px;
    }

    &__catalog {
        z-index: 500;
        border: 3px solid #fff;
        display: block;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #fefefe;
        width: 160px;
        height: 46px;
        background-color: #ef7f1a;
        padding: 12px 0 17px 29px;
        margin-right: 85px;
        position: relative;
        transition-duration: 500ms;

        img {
            margin-left: 50px;
        }

        &-list {
            display: none;
        }

        &-list-second {
            display: none;

        }

        &:hover {
            background-color: #744720;


            .nav__catalog-list {

                position: absolute;
                display: flex;
                flex-direction: column;

                top: 40px;
                left: 0;

                &-item {
                    display: block;
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #fefefe;
                    width: 154px;
                    height: 46px;
                    background-color: #ef7f1a;
                    padding: 12px 0 17px 29px;
                    transition-duration: 200ms;

                    &:hover {
                        background-color: #faa052;
                    }

                    &.second {
                        display: flex;
                        flex-direction: row;
                        position: relative;

                        img {
                            transform: rotate(-90deg) translateY(-20px);
                        }

                    }


                }
            }
        }
    }

    &__menu {
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        color: #000000;
        margin-top: 12px;
        transition-duration: 200ms;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: 5px;
            width: 0px;
            height: 2px;
            margin: 5px 0 0;
            transition: $animate;
            transition-duration: 0.45s;
            opacity: 0;
            background-color: #ef7f1a;

        }

        &:hover {
            //color: #ef7f1a;

            &:before {
                width: 100%;
                opacity: 1;
            }
        }


        &-right {
            position: relative;
            transition-duration: 200ms;

            font-weight: 400;
            font-size: 24px;
            text-transform: uppercase;
            color: #000000;
            margin-top: 12px;
            margin-right: 55px;

            &:before {
                content: "";
                position: absolute;
                bottom: 5px;
                width: 0px;
                height: 2px;
                margin: 5px 0 0;
                transition: $animate;
                transition-duration: 0.45s;
                opacity: 0;
                background-color: #ef7f1a;

            }

            &:hover {
                // color: #ef7f1a;

                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }

        }
    }

    &__logo {
        margin: 0 240px;
        flex-grow: 0.5;
        margin-top: 5px;
        text-align: center;
    }

    &__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 55px;
        transition-duration: 300ms;
        position: relative;

        &-input {
            display: none;
        }

        &:hover {
            filter: invert(49%) hue-rotate(10deg) sepia(54%) saturate(400%) contrast(4);
        }

    }

    &__cart {
        margin-top: 12px;
        transition-duration: 300ms;

        &:hover {
            filter: invert(49%) hue-rotate(10deg) sepia(54%) saturate(400%) contrast(4);
        }
    }
}

div.second:hover .nav__catalog-list-second {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;

    &-item {
        display: block;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #fefefe;
        width: 154px;
        height: 46px;
        background-color: #ef7f1a;
        padding: 12px 0 17px 29px;
        transition-duration: 200ms;

        &:hover {
            background-color: #faa052;
        }
    }
}

.nav__catalog+.nav__menu {
    margin-right: 90px;
}

.nav__search.visible {
    transition-duration: 500ms;

    &:hover {
        filter: none;
    }

    img {
        visibility: hidden;
        opacity: 0;
    }

    input {
        position: absolute;
        background-color: #fff;
        width: 200px;
        border: 2px solid black;
        display: block;
        height: 30px;
        padding: 2px 0 0 5px;
        border-radius: 8px;
        font-size: 20px;
        transform: translateX(-140px);

        &::placeholder {
            font-size: 16px;
            color: gray;
            font-weight: 400;
        }


    }


}

/* PROMO SECTION */
.promo {
    padding-bottom: 60px;

    &__catalog {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        display: flex;
        flex-direction: row;
    }

    &__slider {
        min-width: 0;
        display: flex;
        flex-direction: column;

        width: 1106px;
        border-right: 1px solid white;

        position: relative;



        a {
            display: block;
            width: 160px;
            height: 46px;
            background-color: #ef7f1a;
            color: #ffffff;
            padding: 12px 30px;
            text-align: center;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            border: 3px solid #f2f2f2;
            margin-top: 50px;


            &:hover {
                background-color: #faa052;
            }
        }

        &-item {
            position: relative;
            width: 1106px !important;
            background: linear-gradient(0.0deg, #000000 0%, rgba(0, 0, 0, 0.07) 100%), url('../img/promo_img.png');
            height: 540px;

            &-title {
                left: 250px;
                position: absolute;
                top: 236px;
                margin: 0 auto 0 auto;
                font-size: 48px;
                line-height: 1.2;
                font-weight: 700;

                max-width: 50%;
                color: #ffffff;

                &::first-letter {
                    font-size: 48px;
                }
            }

            &:hover {

                background: linear-gradient(0.0deg, #000000 0%, rgba(0, 0, 0, 0.001) 40%), url('../img/promo_img.png');

            }
        }
    }





    &__catalog-item {
        width: 280px;
        height: 540px;
        display: block;
        flex-direction: column;
        position: relative;
        border-right: 1px solid white;


        &-title {
            position: absolute;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
            bottom: 67px;
        }

        &-link {

            display: block;
            position: absolute;
            bottom: 35px;
            font-family: 'Clear Sans';
            font-weight: 700;

            font-size: 16px;
            line-height: 1.2;
            text-decoration: underline;
            color: #ef7f1a;
            left: 50%;
        }

        &:nth-of-type(2) {
            background: linear-gradient(0.0deg, #000000 0%, rgba(0, 0, 0, 0.07) 100%), url('../img/promo_1.png') no-repeat 50% 50%;
            position: relative;
            width: 279px;
            background-size: cover;

            .promo__catalog-item-title {
                left: 34%;
            }

            &>.promo__catalog-item-link {
                left: 25%;
            }

            &:hover {
                background: linear-gradient(0.0deg, #000000 0%, rgba(0, 0, 0, 0.001) 40%), url('../img/promo_1.png') no-repeat 50% 50%;
                background-size: cover;
            }

        }

        &:nth-of-type(3) {
            position: relative;
            width: 280px;
            background: linear-gradient(0.0deg, #000000 0%, rgba(0, 0, 0, 0.07) 100%), url('../img/promo_2.png') no-repeat 50% 50%;
            background-size: cover;

            .promo__catalog-item-title {
                left: 25%;
            }

            &>.promo__catalog-item-link {
                left: 29%;
            }

            &:hover {
                background: linear-gradient(0.0deg, #000000 0%, rgba(0, 0, 0, 0.001) 40%), url('../img/promo_2.png') no-repeat 50% 50%;
                background-size: cover;
            }
        }
    }

    &__categories {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1658px;
        justify-content: space-between;

        border-top: 1px solid white;

        &-item {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            height: 100px;
            border-right: 1px solid white;
            width: 280px;
            align-items: center;
            transition-duration: 200ms;
            background-color: rgba(0, 0, 0, 1);




            &:first-child {
                width: 277px;
            }

            &:nth-child(2) {
                width: 277px;
            }

            &:nth-child(2) {
                width: 277px;
            }

            &:nth-child(2) {
                width: 277px;
            }

            &:nth-child(5) {
                width: 281px;
            }

            &:last-child {
                width: 271цpx;
                border-right: none;
            }



            span {
                font-family: 'Yanone Kaffeesatz', sans-serif;

                margin-top: 13px;
                display: block;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #ffffff;
            }

            &:hover {

                background-color: rgba(0, 0, 0, 0.8);
            }
        }


    }



}

/* SLICK SLIDER PROMO */
.slick {
    position: relative;

    &-track {
        display: flex;
        flex-direction: row;
    }

    &-list {
        overflow: hidden;
    }

    &-arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        border: 3px solid #5b523a;
        border-radius: 50%;
        top: 231px;
        z-index: 100;
        font-size: 0;
        background-color: #d6d6d7;

        &.slick-prev {
            left: 53px;
            background: url('../img/icons/arrow_left.png') no-repeat 50% 50%;
            background-color: #d6d6d7;

        }

        &.slick-next {
            right: 60px;
            background: url('../img/icons/arrow_right.png') no-repeat 50% 50%;
            background-color: #d6d6d7;

        }
    }

}

/* OFFER SECTION */
.offer {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-bottom: 75px;

    &__title {
        display: flex;
        flex-direction: row;
        max-width: 710px;
        justify-content: space-between;

        &-item {

            font-size: 36px;
            line-height: 1.2;
            font-weight: 400;
            color: #000;
            position: relative;
            transition-duration: 200ms;



            &:before {
                content: "";
                position: absolute;
                bottom: 5px;
                width: 0px;
                height: 2px;
                margin: 5px 0 0;
                transition: $animate;
                transition-duration: 0.45s;
                opacity: 0;
                background-color: #ef7f1a;

            }

            &:hover {
                cursor: pointer;
                color: #ef7f1a;

                &:before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }

    &__menu {
        padding-top: 33px;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;



        &-item {






            max-width: 400px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            position: relative;

            &-pic {
                width: 400px;
                position: relative;
                z-index: 2;


            }

            &-text {
                margin-top: 20px;
            }

            &-lable {
                position: absolute;
                top: 51px;
                z-index: 3;
                left: 27px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                span {
                    display: block;
                    margin-top: 20px;
                    font-family: 'Clear Sans';
                    font-size: 14px;
                    line-height: 0.4;
                    font-weight: 700;
                    letter-spacing: -0.05em;
                    color: #ffffff;
                    width: 46px;
                    height: 18px;
                    background-color: #000000;
                    border-radius: 4px;
                    padding: 5px 10px;
                }

                &:hover {
                    cursor: initial;
                }
            }

            &-title {
                font-family: 'Yanone Kaffeesatz', sans-serif;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 700;
                color: #000000;
                margin-bottom: 18px;
            }

            &-description {
                font-family: 'Clear Sans';
                max-width: 395px;
                font-size: 16px;
                line-height: 1.2;
                font-weight: 300;
                color: #000000;
                margin-bottom: 15px;
            }

            &-text {
                z-index: 4;
            }

            &-info {
                z-index: 4;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &-size {
                label {
                    display: block;
                    font-family: 'Clear Sans';
                    font-size: 16px;
                    font-weight: 700;
                    width: 46px;
                    height: 18px;
                    border-radius: 4px;
                    text-align: center;
                    margin-bottom: 10px;
                    margin-right: 4px;

                }

                span {
                    font-family: 'Yanone Kaffeesatz', sans-serif;
                    font-size: 18px;

                    font-weight: 400;
                    text-transform: uppercase;
                    color: #000000;
                }

                &-row {
                    display: flex;
                    flex-direction: row;
                }
            }

            &-price {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;

                span {
                    font-family: 'Yanone Kaffeesatz', sans-serif;
                    font-size: 36px;
                    font-weight: 700;
                    color: #000000;
                    margin-right: 18px;
                }



                a {
                    margin-right: 30px;
                }
            }
        }
    }
}

/* RADIO INPUT */
label.size-item {
    display: block;
    color: #bababa;
    border: 1px solid #bababa;

    &:hover {
        cursor: pointer;
    }

    &.active {
        color: #ef7f1a;
        border: 1px solid #ef7f1a;
    }

    input {
        display: block;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        position: absolute;
    }
}

/* OLD PRICE */
span.offer__menu-item-price-old {
    position: absolute;
    font-size: 24px;
    top: -15px;
    font-weight: 400;
    left: 3px;
    color: #bbbbbb;
    text-decoration: line-through;
}

/* CARD HOVER */
.hidden {

    top: -10px;
    transition-duration: 300ms;
    display: none;

    &-table {
        visibility: hidden;
        z-index: -10;
        opacity: 0;

    }

    &-link {

        visibility: hidden;
        z-index: -10;
        opacity: 0;
    }
}

.offer__menu-item:hover {
    h4 {
        color: #fff;
    }

    p {
        color: #fff;
    }

    span {
        color: #fff;
    }

    .hidden {

        visibility: visible;
        position: absolute;
        opacity: 1;
        left: -10px;
        z-index: 3;
        width: 420px;
        height: 705px;
        display: block;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 0%);

        &-table {
            visibility: visible;
            opacity: 1;
            z-index: 3;
            margin-left: 10px;
            margin-top: 188px;
            border: 1px solid #fff;
            width: 400px;


            table {
                border-collapse: collapse;

                tr {

                    border-collapse: collapse;

                    td {
                        width: 200px;
                        border-collapse: collapse;

                        border: 1px solid #ffffff;
                        font-family: 'Clear Sans';
                        font-size: 16px;
                        font-weight: 300;
                    }

                    td:nth-child(2) {

                        color: #ffffff;
                        text-align: right;
                        padding: 12px 16px 14px 0;
                    }

                    td:first-child {
                        color: #acacac;
                        padding: 12px 0 12px 12px;
                    }
                }

            }

        }

        &-link {
            visibility: visible;
            opacity: 1;
            z-index: 3;
            font-family: 'Clear Sans';
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-decoration: underline;
            color: #ef7f1a;
            width: 37%;
            margin: 90px auto 0 auto;
        }
    }
}